body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e0f7e9; /* Light green background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
* {
  box-sizing: border-box;
}


.login-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.2);
    width: 320px;
    text-align: center;
}

h2 {
    color: #2e7d32; /* Dark green */
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #388e3c;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #a5d6a7;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #388e3c;
}

.error-message {
  color: red;
  background-color: #ffe6e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.logout-message {
  color: green;
  background-color: #e6ffe6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.forgot-link {
  font-size: 14px;
  color: #0a8754;
  text-decoration: underline;
}

